<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pm.gnosis.heimdall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="pm.gnosis.heimdall.HeimdallApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MountainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.walletconnect.link.WalletConnectLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wc" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.deeplinks.DeeplinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ethereum" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.password.PasswordSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.onboarding.password.PasswordConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.settings.general.changepassword.PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.onboarding.OnboardingIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MountainTheme" />

        <activity
            android:name=".ui.addressbook.list.AddressBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.addressbook.add.AddressBookAddEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.addressbook.edit.AddressBookEditEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.addressbook.detail.AddressBookEntryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.security.unlock.UnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MountainTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.settings.general.GeneralSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.settings.general.GetInTouchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity android:name=".ui.qrscan.QRCodeScanActivity" />

        <activity
            android:name=".ui.safe.main.SafeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.debugsettings.DebugSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.two_factor.authenticator.PairingAuthenticatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.pairing.PairingSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.recover.safe.CheckSafeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.onboarding.fingerprint.FingerprintSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.transactions.create.CreateAssetTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.transactions.view.review.ReviewTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.transactions.view.confirm.ConfirmTransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.transactions.view.status.TransactionStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.tokens.select.SelectTokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.tokens.receive.ReceiveTokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.safe.create.CreateSafeIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.create.CreateSafeStepsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.tokens.manage.ManageTokensActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.safe.recover.safe.RecoverSafeRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.safe.pairing.connect.Connect2FaStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.pairing.replace.Replace2FaStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.pairing.remove.Remove2FaStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.pairing.replace.Replace2FaRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.safe.pairing.remove.Remove2FaRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.safe.recover.recoveryphrase.ScanExtensionAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.create.CreateSafeConfirmRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.create.CreateSafeSetupRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.recover.recoveryphrase.SetupNewRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.recover.recoveryphrase.ConfirmNewRecoveryPhraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.create.CreateSafeRecoveryPhraseIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.recover.recoveryphrase.SetupNewRecoveryPhraseIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.recover.safe.RecoverSafeIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.messagesigning.ConfirmMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.walletconnect.sessions.WalletConnectSessionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.walletconnect.intro.WalletConnectIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.tokens.payment.PaymentTokensActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.create.CreateSafePaymentTokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.upgrade.UpgradeMasterCopyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.safe.upgrade.UpgradeMasterCopyIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".ui.two_factor.Setup2FaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.two_factor.Select2FaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.two_factor.keycard.KeycardIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.two_factor.keycard.KeycardInitializeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.two_factor.Connect2FaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.two_factor.Replace2FaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity
            android:name=".ui.safe.recover.safe.RecoverSafe2FAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme" />

        <activity android:name=".ui.transactions.view.details.MultiSendDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyBackgroundTheme"  />

        <service android:name=".services.HeimdallFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.BridgeService" />
    </application>
</manifest>
